@font-face {
    font-family: myFirstFont;
    src: url("Poppins-Regular.ttf");
  }
  @font-face {
    font-family: PoppinB;
    src: url("Poppins-Bold.ttf");
  }
  @font-face {
    font-family: mail;
    src: url("BrothersideSignature-w13o6.otf");
  }
  
body{
margin: 0;
padding: 0;
background-color: #ffffff;
overflow-x: hidden;
color: #232323;
}
h1{
    font-family: 'PoppinB';
    font-size: 53px;
    font-weight: bolder;
    margin-top: 67px;

}
header{
    height: 60px;
    padding: 19px;
    width: 1500px;
    position: fixed;
    top: 0;
    z-index: 10;

   
    
}
nav {
    float: right;
    font-family: myFirstFont;
    font-size: 14px;
    font-weight: 800;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block; 
}

li a {
    position: relative; 
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 14px;
}
li a.night{
    color: #f7f7f7;
}

li a:hover::after {
    width: 60%; 
    background-color: rgb(237, 18, 18);
  
}

li a:hover {
    

}
.logo{
    float: left;
    font-size: 16px;
    font-family: myFirstFont;
    font-weight: bolder;
    margin-top: 10px;  
}
.logo img{
  image-rendering: pixelated;
  height: 90px;
  margin-top: -33px;
  margin-left: 10px;
}
.container{
    display: flex;
    height: 90%;
    width: 900px;
 position: relative;
 
}
#home{
 
  margin-top: 60px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
#about{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 100px;
}
#project{
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
#contact{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.contacttitle img{
  height: 80px;
  image-rendering: pixelated;
  margin-top: -10px;
}
.mail{
  height: 350px;
  width: 620px;
  background-image: url('mail.png');
  background-size: cover;
 
  image-rendering: pixelated;
}
.project{
  height: 100%;
    width: 900px;
    margin-top: -100px;
   
}
#proj{
  height: 150px;
  position: absolute;
  left: 35.4%;
  margin-top: -99px;
  z-index: -1;
}
.project p{
  text-align: center;
  font-size: 19px;
  font-weight: bolder;
position: relative;
font-family: 'Courier New', Courier, monospace;
filter: drop-shadow(5px 5px 10px #000000bc);
}
.about{
  height: 100%;
    width: 900px;
    
 
    margin-top: -50px;
}
.des{
  width: 50%;
  height: 240px;
  padding: 50px;
 
}
.des p{
  font-family: myFirstFont;
  font-size: 14px;
  font-weight: 100;
  text-indent: 20px;
  text-align: left;
}
.ss{
  width: 50%;
  
  height: 240px;
  padding: 50px;
}
#ss{
image-rendering: pixelated;
height: 193px;
filter: drop-shadow(5px 5px 10px #000000bd);
position: absolute;
margin-left: -371px;
margin-top: 28px;
}
.pic{
  width: 45%;
  padding: 50px;

  text-align: center;
}
.pic img{
  height: 200px;
  border-radius: 50%;
  
}
.text{
  width: 50%;
  padding: 20px;

}
@keyframes rotateAxe {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.box1{
    height: 380px;
    width: 55%;
 
}
.box2{
    width: 45%;
 
    height: 380px;
}
.box1 img{

    position: absolute;
    height: 65px;
    top:145px;
    left: 210px;
    image-rendering: pixelated;
    
}
.box2 img{
    image-rendering: pixelated;
    height: 450px;
    position: absolute;
    z-index: 2;
    filter: drop-shadow(5px 5px 10px #0000003c);
}
p{
    font-family: myFirstFont;
  font-size: 14px;
}


.eyes-container {
    position: relative;
    width: 200px;
    height: 100px;
   background-color: #fff;
    margin-top: 220px;
    margin-left: 120px;
  }

  .eye {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;

    border-radius: 50%;

    transform-origin: center;
    transition: transform 0.1s;
  }

  .pupil {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #0b0b0b;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .iris {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fdfdfd; /* Adjust iris color as needed */
    border-radius: 50%;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  #right-eye{
      margin-left: 120px;
  }
  #left-eye{
    margin-left: 5px;
  }
  label{
    position: absolute;
    width: 37px;
    height: 17px;
    border: 3px solid;
    border-radius: 15px;
    left:80px;
    background-color: #fff;
    margin-top: 12px;
  }
  label::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid ;
    border-radius: 50%;
    left: 0px;
    background-color: black;
    cursor: pointer;
    transition: 0.4s;
  }
  label.active:before{
    left: 21px;
    background: #fff;
  }
  label.active{
    background:#3e3e3e;
  }
  body.night{
    transition:0.4 ease-in;
    background: rgb(22, 22, 22);
    color: #ffffff;
  }
  .icons{
    padding: 5px;
    margin-top: 10px;
    
  }
  i{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    margin-right: 16px;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(5px 5px 10px #0000005a);
   
  }
  i.night{
    color: rgb(255, 255, 255);
  }
  .icons :hover{
    color: #0074f8d4;
    transform: scale(1.4);
  }
  .tech{
    height: 100px;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
  }
  .tech p{
    margin-top: 40px;
    margin-left: 190px;
    font-weight: bold;
  }
  .small{
    margin-left: 63px;
    margin-top: 30px;
  }
  .small img{
    height: 32px;
    margin-right: 25px;
    filter: drop-shadow(5px 5px 10px #00000061);
  }
  #birdfly{
    height: 25px;  image-rendering: pixelated;
    margin-top: -230px;
   animation:  slantAnimation 7s ease-in-out infinite;
   position: absolute;
   right: 0;
  }
  @keyframes slantAnimation {
    0% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
    100% {
      transform: translateX(-3600px) translateY(-400px) rotate(0deg);
    }
  }
  .mail p{
    font-family: mail;
    font-size: 29px;
    font-weight: bold;
    color: rgb(173, 118, 0);
    text-indent: 19px;
  }
  textarea{
    height: 200px;
    width: 400px;
    position: absolute;
    margin-left: 95px;
    margin-top: -40px;
    padding: 10px;
    font-family: mail;
    background-color: transparent;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(117, 117, 117);
    border: none;
   
  }
  textarea::placeholder{
    text-align: center;
  }
  @keyframes jumpAnimation {
    0% {
      transform: translateX(-500px);
    }
    100%{
      transform: translateX(1100px);
    }
  }

  @media screen and (max-width: 720px) {
    /* Define specific styles for screens up to 767px wide */
    h1 {
        font-size: 2rem; /* Adjusted for mobile */
        margin-top: 1.5rem; /* Adjusted for mobile */
    }

    header {
        padding: 1rem; /* Adjusted for mobile */
        width: 470px;
    }

    nav {
        font-size: 0.875rem; /* Adjusted for mobile */
       
    }

    li {
        margin-bottom: 0.5rem; /* Adjusted for mobile */
    }

    li a {
        padding: 0.75rem; /* Adjusted for mobile */
        font-size: 0.875rem; /* Adjusted for mobile */
    }

    .logo {
        font-size: 0.875rem; /* Adjusted for mobile */
        margin-top: 0.625rem; /* Adjusted for mobile */ 
        margin-left: -20px; 
    }
    .logo img{
      display: none;
    }
    #dark-change{
      margin-left: -60px;
    }

    .logo img {
        margin-top: -0.625rem; /* Adjusted for mobile */
        margin-left: 0.625rem; /* Adjusted for mobile */
    }

    .container {
        width: 100%; /* Full width for mobile */
    }
    .box1{
      padding: 20px;
    }
    .box2{
      padding-right: 35px;
    }
    .eyes-container{
 width: 100px;
      margin-top: 110px;
      margin-left: 50px;
      height: 30px;
    }
    #right-eye{
      margin-left: 70px;
    }
    .pupil{
      height: 18px;
      width: 18px;
    }
    .iris{
      height: 10px;
      width: 10px;
    }
}
.box2 img{
  height: 250px;
  
  
}
@media only screen and (min-width: 768px) {
  .box2 img{
    height: 450px;
  }

}